:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0 auto;
}

.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #19140D;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}